{% extends 'base.html' %}

{% block content%}

{% include 'nav_bar.html' %}
<h1> About My company</h1>
<P> International Business Machines Corporation (IBM) is a multinational technology company from the United States that makes and sells software, computer hardware, infrastructure services, and consulting services. ... IBM began in 1911, it was called the "Computing-Tabulating-Recording Company".
BM is an American multinational information technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company and was renamed "International Business Machines" in 1924.</P>

<img src="https://photos.google.com/photo/AF1QipPlTg3nReSnqVmlNzfvboYpa4Dnoavh_9wWVOG_" alt="Smiley face" width="42" height="42">

{% endblock content %}