{% extends 'base.html' %}
{% load static %}
{% block content%}

<link rel="stylesheet" href="{% static '\css\bootstrap.css' %}">

<ul >
     <li><a class="active" href="{% url 'home'%}"> HOME </a></li>
     <li><a href="{% url 'about'%}"> ABOUT </a></li>
     {% if user.is_authenticated %}
     <li><a href="{% url 'profile' %}"> PROFILE </a></li>
     <li><a href="{% url 'logout' %}"> LOGOUT </a></li>
     {% else %}
     <li><a href="{% url 'register' %}"> SIGN UP</a></li>
     <li><a href="{% url 'login' %}"> LOGIN </a></li>
     {% endif %}
     <li><a href="#"> CONTACT </a></li>
</ul>

{% endblock content %}